/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
/* Global Rules */
:root {
    --main-bg: linear-gradient(
        7deg,
        rgba(3, 73, 133, 1) 0%,
        rgba(32, 101, 161, 1) 14%,
        rgba(69, 195, 214, 1) 63%,
        rgba(224, 243, 246, 1) 94%
    );
    --main-bg-2: linear-gradient(
        0deg,
        rgba(22, 87, 97, 1) 70%,
        rgba(44, 173, 193, 1) 100%
    );
    --main-bg-3: linear-gradient(
        90deg,
        rgba(181, 242, 246, 1) 0%,
        rgba(44, 173, 193, 1) 42%
    );
    --text-color: #3f8197;
    --text-color-2: #2cadc1;
    --text-color-3: #76969b;
    --padding: 50px;
    --box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    --transition: 0.3s;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none !important;
}

body {
    font-family: "Poppins", sans-serif !important;
    font-size: 1rem !important;
}

/* Global Design */
.glass__Bg {
    background-image: url("./assets/icons/glassbg.png");
    min-width: 100% !important;
    min-height: 90vh;
    margin: var(--padding) 0;
    background-repeat: no-repeat;
    background-size: cover;
}

.backContent {
    position: absolute;
    background: #858787;
    padding: 15px 4px;
    border-radius: 0 0 15px 15px;
    top: -40px;
    z-index: -1 !important;
    transition: top 0.3;
}

.backContent.active {
    top: 155px;
}

.backContent2 {
    position: relative;
    background: #858787;
    padding: 15px 4px;
    border-radius: 0 0 15px 15px;
    top: -200px;
    z-index: 1 !important;
    transition: top var(--transition);
    height: 0;
}

.backContent2.active {
    top: 0px;
    height: fit-content;
}

.rdw-editor-wrapper {
    color: black;
    background: white;
    height: auto;
    margin-bottom: 25px;
}

.btnHover p,
.btnHover,
.scale {
    transition: var(--transition);
}

.btnHover:hover p {
    transform: scale(0.8);
}

.scale:hover {
    transform: scale(1.03);
    -webkit-transform: scale(1.03);
    -moz-transform: scale(1.03);
    -ms-transform: scale(1.03);
    -o-transform: scale(1.03);
}

label {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px dotted black;
    border-radius: 20px;
    cursor: pointer;
    font-size: large;
    background-color: white;
}

label span {
    font-weight: lighter;
    font-size: small;
    padding-top: 0.5rem;
}

/* Swiper */
.swiper {
    width: 100%;
    height: 100%;
    overflow-y: auto !important;
}

.swiper-slide {
    text-align: center;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    margin-bottom: 30px;
}

/* FIxed Navbar */
.nav__down {
    background-image: url("./assets/images/DownBar.png");
    background-repeat: no-repeat;
    position: fixed;
    bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-position: center;
    background-size: cover;
    border-radius: 15px 15px 0 0;
}

.downNav__center {
    position: absolute;
    background-image: url("./assets/icons/navDownCenterBg.png");
    top: -90px;
    left: 50%;
    transform: translateX(-50%);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2px;
    cursor: pointer;
}

.links {
    color: #004979;
    position: relative;
}

.links::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 0%;
    left: 0;
    bottom: -5px;
    background: var(--text-color);
    transition: var(--transition);
}

.links:hover::after {
    width: 100%;
}
.p-editor-container .p-editor-content .ql-editor img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 6px;
}

.blog-details > div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.blog-details > div p {
    width: 70%;
    height: 360px;
}

.blog-details > div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 6px;
}

@media (max-width: 768px) {
    .blog-details > div p {
        width: 100%;
        height: auto;
    }
}

.marquee-w {
    position: relative;
    display: block;
    width: 100%;
    height: 40px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #004979;
    margin-top: 2.5rem;
    border-radius: 10px;
    overflow: hidden;
}
.marquee {
    position: absolute;
    display: block;
    margin: auto auto;
    white-space: nowrap;
    overflow: hidden;
    min-width: 100%;
    height: 100%;
}
.marquee span {
    display: inline-block;
    padding-left: 100%;
    text-align: center;
    white-space: nowrap;
    min-width: 100%;
    height: 100%;
    line-height: 40px;
    letter-spacing: 3px;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    animation: marquee 20s linear infinite;
    -webkit-animation: marquee 20s linear infinite;
}

.marquee span:hover {
    animation-play-state: paused;
}

@keyframes marquee {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(-100%, 0);
    }
}
